# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
.env.*

# PyCharm
.idea/
*.iml

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Unit test / coverage reports
.coverage
htmlcov/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Database files
*.sqlite3
*.db

# Mypy / Ruff / Lint caches
.mypy_cache/
.ruff_cache/
.pyre/

# VS Code (if you switch editors)
.vscode/

# Temporary files
*.tmp
*.temp